h3{
  color: whitesmoke;
  font-size: 26px;
  text-decoration: underline;

}
body{
  
  background-color: rgb(0, 110, 255);
  color: black;
}
.TopNav{
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
}
hr{
  box-align: center;
  background-color:darkblue;
  border-style: dashed;
  border-color: darkslateblue;
  border-width: 1px;
  width: 90%;
  height: 4px;
}
.MyPicture{
  float: left;
  margin: 5px;
  height: 420px;
  width: 420px;
}
image{
  border: 3px solid #ccc;
  max-width: fit-content;
  height:100%;
}
img{
  border: 3px solid #ccc;
  border-radius: 180px;
  margin: auto;
  max-width: 100%;
  height: 100%;
}
.social{ 

  align-items: justify;
  border-style: outset;
  border-color: black;
  border-width: 1px;
  width : 80px;
  height: 80px;
}
.socialround{
  align-items: justify;
  border-style: outset;
  border-color: black;
  border-radius: 50%;
  shape-outside: circle();
  border-width: 1px;
  width : 80px;
  height: 80px;
}
.intro{
  font-size: 20px;
  color: white; 
}
.background{
  font-size: 20px;
  color: white; 
}
.goals{
  font-size: 20px;
  color: white; 
}
.whoami{
  font-size: 20px;
  color: white; 
}
#title{
  color: black;
 text-decoration: underline;
}
p{
 font-size: 20px;
 text-align: left;
 color: white;
}
.PixelArt{
  font-size: 20px;
  color: white;
  text-decoration: underline;
}
.UnityGames{
  font-size: 20px;
  color: white;
  text-decoration: underline; 
}
.Capstone{
  font-size: 24px;
  color:white;
  text-decoration: underline; 
}
.Tech{
  font-size: 24px;
  color:white;
  text-decoration: underline; 
}

#more {display: none;}